{% load static %}
<footer>
    <div class="footer-logo">
        <div class="footer-heading logo " style="font-size:1.6em;"><span style="font-weight:600;">Bharat</span><span style="font-weight:lighter"><i>Quest</i></span></div>

        <div class="slogan">
            Discover India’s Soul, One Story at a Time.
        </div>
    </div>

    <div class="footer-social-links">
        <div class="footer-headings">Let's get social</div>
        <div class="f-links">
            <a href="#" class="footer-links">
                <img src="{% static 'social-logo/ig.png' %}" alt="">
            </a>
            <a href="#" class="footer-links">
                <img src="{% static 'social-logo/fb.png' %}" alt="">
            </a>
            <a href="#" class="footer-links">
                <img src="{% static 'social-logo/yt.png' %}" alt="">
            </a>
            <a href="#" class="footer-links">
                <img src="{% static 'social-logo/ln.png' %}" alt="">
            </a>
            <a href="#" class="footer-links">
                <img src="{% static 'social-logo/x.png' %}" alt="">
            </a>
        </div>
    </div>

    <div class="footer-block-container">
			<div class="footer-block">
				<div class="footer-headings">Company</div>
				<div class="footer-links-container">
					<a href="#" class="footer-link">About Us</a>
					<a href="#" class="footer-link">Contact Us</a>
					<a href="#" class="footer-link">Enrol</a>
					<a href="#" class="footer-link">Privacy Policy</a>
					<a href="#" class="footer-link">Account Deletion</a>
				</div>
			</div>
			<div class="footer-block">
				<div class="footer-headings">Our Centres</div>
				<div class="footer-links-container">
					<a href="#" class="footer-link">New Delhi</a>
					<a href="#" class="footer-link">Mumbai</a>
					<a href="#" class="footer-link">Bangalore</a>
					<a href="#" class="footer-link">Kolkata</a>
					<a href="#" class="footer-link">Varanasi</a>
					<a href="#" class="footer-link">View All Centres</a>
				</div>
			</div>

			<div class="footer-block">
				<div class="footer-headings">Popular Topics</div>
				<div class="footer-links-container">
					<a href="#" class="footer-link">Festivals</a>
					<a href="#" class="footer-link">Monuments</a>
					<a href="#" class="footer-link">Cuisines</a>
					<a href="#" class="footer-link">Traditions</a>
					<a href="#" class="footer-link">Art Forms</a>
				</div>
			</div>

			<div class="footer-block">
				<div class="footer-headings">Connect With Us</div>
				<div class="footer-links-container">
					<a href="mailto:contact.bharatquest@gmail.com" class="footer-link">Email Us</a>
					<a href="#" class="footer-link">Talk to our guide</a>

				</div>
			</div>

			<div class="footer-block">
				<div class="footer-headings">Quick Links</div>
				<div class="footer-links-container">
					<a href="#" class="footer-link">BharatQuest Blog</a>
					<a href="#" class="footer-link">Cultural Events</a>
					<a href="#" class="footer-link">Photo Gallery</a>
				</div>
			</div>

			<div class="footer-block">
				<div class="footer-headings">Our Products</div>
				<div class="footer-links-container">
					<a href="#" class="footer-link">BharatQuest App</a>
					<a href="#" class="footer-link">Offline Guides</a>
					<a href="#" class="footer-link">Merchandise</a>
				</div>
			</div>
		</div>
 </div>

    <div class="footer-bottom">
        <div class="copyright">© 2025 BharatQuest. All Rights Reserved.</div>
        <div class="app-links">
            <a href="#" class="app-link">
                <img src="{% static 'assets/app-store.png' %}" alt="App Store">
            </a>
            <a href="#" class="app-link">
                <img src="{% static 'assets/play-store.png' %}" alt="Play Store">
            </a>
        </div>
    </div>
</footer>