{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles/base/variables.css' %}?v=1.12"/>
    <link rel="stylesheet" href="{% static 'styles/base/messages.css' %}?v=1.12"/>
    <link rel="stylesheet" href="{% static 'styles/base/global.css' %}?v=1.2"/>

    <link rel="stylesheet" href="{% static 'styles/header/header.css' %}?v=1.111" />
    <link rel="stylesheet" href="{% static 'styles/header/profile/profile.css' %}?v=1.1" />
    <link rel="stylesheet" href="{% static 'styles/header/profile/account.css' %}?v=1.12" />
    <link rel="stylesheet" href="{% static 'styles/footer/footer.css' %}?v=1.1.1" />
    {% block maincss %}{% endblock %}
  </head>

  <body>
    {% include "header/header.html" %}
    {% include "messages.html" %}

    {% block main %}{% endblock %} 
    
    {% include "footer/footer.html" %}

    <script src="{% static 'src/header/header.js' %}?v=12"></script>
    <script type="module" src="{% static 'src/footer/footer.js' %}"></script>
    <script src="{% static 'src/header/header.js' %}"></script>
    <script src="{% static 'src/messages.js' %}"></script>

    {% block mainjs %}{% endblock %}

    

    <script>
      
    </script>
  </body>
</html>
