.home-header {
  width: 100%;
  height: 4em;
  background-color: color-mix(in srgb, var(--body-bg) 75%, #ffffffa4 25%);
  backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  padding: 0 1em;
  box-shadow: 0 2px 4px 0px rgba(144, 80, 182, 0.1);
  z-index: 3;
  color: var(--primary-text-color);
  box-sizing: border-box;
  border-bottom: 1px solid #e9e5fa;
  gap: 24px;
}
.home-header * {
  box-sizing: border-box;
}
.logo-cont {
  height: 100%;
  width: 30%;
  margin-left: 0.5em;
  background: url("../assets/logo.png") no-repeat;
  background: transparent;
  background-position: center;
  background-size: contain;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
}

.acc {
  display: none;
  height: 50%;
  width: 20%;
  background: url("../assets/acc.svg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

[name="menu"] {
  display: none;
}

.menu-cont {
  width: calc(100% - 2px);
  height: calc(100vh - 6em);
  position: fixed;

  top: 4em;

  display: none;
  z-index: 3;
}
.menu-box {
  height: 100%;
  width: 60%;
  background-color: color-mix(in srgb, var(--body-bg) 75%, #ffffffa4 25%);
  backdrop-filter: blur(30px);
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.4);
  padding: 1em;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 2em;
}
#menu-show {
  display: block;
  animation: linear slideIn 50ms forwards;
}
.menu-box hr {
  
  outline: none;
}

.hidden {
  background-color: #0000002e;
  display: none;

  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.nav-links {
  text-decoration: none;
  color: var(--primary-text-color);
  margin-left: 0.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.toggle-area {
  margin-top: auto;
}

#bars-image {
  height: 100%;
  width: 100%;
}

.login-btn {
  margin-left: auto;
  box-sizing: content-box;

  border: none;

  background: var(--btn-bg);
  font-size: 0.8em;
  color: var(--btn-text-color);
  border-radius: 8px;
  font-family: varela, sans-serif;
  padding: 0.6em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition-duration: 1s;
}
.login-btn:hover {
  box-shadow: rgba(131, 117, 150, 0.3) 0px 0px 4px 2px;
}
header svg,
.menu-cont svg {
  fill: var(--header-svg-color);
}

.toggle-container {
  height: 1.4em;
  width: 2.8em;
  overflow: hidden;
  margin-left: 0.7em;
}
#toggle-area {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--primary-text-color);
  overflow: hidden;
  cursor: pointer;
}
.toggle-ball {
  border-radius: 50%;
  position: absolute;
  background-color: var(--home-card-bg);
  transition-duration: 0.3s;
}

#toggle-area input[type="checkbox"] {
  display: none;
}

.toggle-area {
  height: 1.4em;
  width: 100%;
  display: flex;

  gap: 1em;
}

